<div class="navBox">
  <h1 id="title">SimpleBlog</h1>
  <div class="search">
    <input type="text" id="searchBar" placeholder="Search user..." />
    <ul id="searchResults"></ul>
  </div>
  <div class="navMenu">
    <ul>
      <a href="/"><li>home</li></a>
      <a href="/create"><li>Post</li></a>
      <a href="/profile"><li>Profile</li></a>
      <li class="logout" id="logoutBtn">Logout</li>
    </ul>
  </div>
  <div id="menuOpen">
    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#f2f2f2"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
  </div>
  <div class="sideBar">
    <svg id="menuClose" xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/create">Post</a></li>
      <li><a href="/profile">Profile</a></li>
      <li class="logout">Logout</li>
    </ul>
  </div>
</div>
