<div class="navBox">
    <h1 id="title">SimpleBlog</h1>
    <div class="navMenu">
        <ul>
            <a href="/"><li>home</li></a>
            <a href="/create"><li>Post a blog</li></a>
            <a href="/profile"><li>Profile</li></a>
        </ul>
    </div>
</div>