<div class="sortSection">
    <h3>Sort by:</h3>
    <label>
        <input type="radio" name="sort" value="Newest">Newest
    </label>
    <label>
        <input type="radio" name="sort" value="Oldest">Oldest
    </label>
    <label>
        <input type="radio" name="sort" value="Likes">Likes
    </label>
</div>