<div class="infoContainer">
    <div class="profilePic">
        <img src="<%= user.profilePic %>">
    </div>
    <div class="infoBox">
        <h2><%= user.username %></h2>
        <p>Blogs: <%= blogs.length %></p>
    </div>
</div>