<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBlog | Create</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <div class="blogForm">
        <form action="/create" method="post">
            <label for="title">Blog title:</label>
            <input id="title" name="title">
            <label for="content">Content:</label>
            <textarea id="content" name="content" placeholder="Type here..."></textarea>
            <button id="blogSubmit">Submit</button>
        </form>
    </div>
</body>
</html>