<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBlog | Profile</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("./partials/nav") %>
    <div class="blogSection">
        <div class="myTitleSection">
            <h2 class="myTitle">My blogs:</h2>
        </div>
        <% if (blogs && blogs.length > 0 ) { %>
            <% blogs.forEach((blog) => { %>
                <div class="blogBox">
                    <h3 class="blogTitle"><%= blog.title %></h3>
                    <p class="blogContent"><%= blog.content %></p>
                    <button class="deleteBtn" data-blogId="<%= blog._id %>">delete</button>
                </div>
            <% }) %>
        <% } else { %>
            <p>no blogs have been posted yet.</p>
        <% } %>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>