<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SimpleBlog | Register</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="header">
        <h1>SimpleBlog</h1>
    </div>
    <div class="form">
        <% if (errorMessage) { %>
          <p class="errorMessage"><%= errorMessage %></p>
        <% } %>
        <form action="/register" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button class="buttons">Register</button>
        </form>
        <a href="/login"><button class="buttons">Login</button></a>
    </div>
  </body>
</html>
